**/.DS_Store

#vscode
**/.vscode/

#python
pyhton/**/venv

#nodejs
node.js/**/node_modules

#java
java/**/.idea
java/**/*.iml
java/**/target

#dotnet
dotnet/**/bin
dotnet/**/obj

#personal
cplusplus/**/delete
